<%- include('../partials/head.ejs'); %>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7E846B;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Plantry</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <h1>Welcome to your shopping list, add away!</h1>

    <a href="/user/list" class="btn btn-success">My List</a>
    <br>

    <form action="/user/pantry" method="post">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
            <label for="exampleProductName" class="form-label">Product name</label>
            <select class="form-select" aria-label="Default select example" name="name">
                <option selected>Select product name</option>
                <% for (i=0; i<foods.length; i++)  { %>
                    <option value=<%=foods[i].name%>><%=foods[i].name%></option>
                <% } %>
              </select>
            </div>
            <div class="col-auto">  
            <label for="exampleQuantity" class="form-label">Quantity</label>
            <input type="text" class="form-control" id="exampleQuantity" name="quantity">
            </div>
            <div class="col-auto">
            <button type="submit" class="btn btn-primary">Check in!</button>
            </div>
        </div>
      </form>

    <br>
    <form action="/user/list/recipes? %>" method="post">
    <table class="table table-success table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total carbon footprint (kg of CO2) </th>
          <th scope="col">Remove?</th>
        </tr>
      </thead>
      <tbody>
        <% for (i=0; i<list.length; i++)  { %>
        <tr>
          <form action="/user/list/delete?name=<%= list[i].food.name %>" method="post">
          <th scope="row"><%= i+1%></th>
          <td><%= list[i][0].name %></td>
          <td><%= list[i][1] %></td>
          <td><%= list[i][0].carbonFootprint * pantry[i][1]%></td>
          <td><button type="submit" class="btn btn-primary">remove.</button></td></form>
        </tr>
        <% } %>
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Get recipes</button> 
  </form> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>

  <footer>
    

  </footer>
</html>